
$primary-black:#444444;
$primary-orange:#ff8b00;
$secondary-orange:#ffa126;
$dark-orange : rgb(255, 116, 3);
$dark-orange:#ff7f3f;
$primary-yellow:#ffc60b;
$primary-white:#feffeb;
$background: rgb(255, 251, 245);
$fontFamily:'Roboto', sans-serif;
$text-clr :#272727;

$sm:480px;
$md:786px;
$lg:1024px;
$xl:1290px;
$xxl:1440px;

$maxWidth:1800px;
$defaultPadding:10px 5px; 